{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="https://theselfs.org/fcm/favicon.ico?v2" type="image/x-icon">

  <title>Acquire</title>
  <script src="{% static "vendor/js/rivets.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/game.css" %}">
</head>
<body>
<main id="main">
  <div id="board">
    <table>
      <tbody>
        <tr rv-each-row="app.board">
          <td rv-each-cell="row" rv-class="cell.chain">{ cell.coordinates }</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="hand">
    <table>
      <tbody>
      <tr>
        <td rv-each-tile="app.hand">{ tile }</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="supply">
    <div id="stocks">
      <div rv-each-chain="app.supply.stocks">
        <img src="" alt="">
      </div>
    </div>
  </div>

  <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
  <input id="chat-message-input" type="text" size="100"/><br/>
  <input id="chat-message-submit" type="button" value="Send"/>


  <script type="text/javascript">
  var roomName = {{ game_name_json }};
  var state = {{ game_state_json }};
  var username = "{{ user.username }}";

  // var chatSocket = new WebSocket(
  //     'ws://' + window.location.host +
  //     '/ws/chat/' + roomName + '/');

  // chatSocket.onmessage = function(e) {
  //     var data = JSON.parse(e.data);
  //     var message = data['message'];
  //     document.querySelector('#chat-log').value += (message + '\n');
  // };

  // chatSocket.onclose = function(e) {
  //     console.error('Chat socket closed unexpectedly');
  // };

  // document.querySelector('#chat-message-input').focus();
  // document.querySelector('#chat-message-input').onkeyup = function(e) {
  //     if (e.keyCode === 13) {  // enter, return
  //         document.querySelector('#chat-message-submit').click();
  //     }
  // };

  // document.querySelector('#chat-message-submit').onclick = function(e) {
  //     var messageInputDom = document.querySelector('#chat-message-input');
  //     var message = messageInputDom.value;
  //     chatSocket.send(JSON.stringify({
  //         'message': message
  //     }));

  //     messageInputDom.value = '';
  // };

  </script>
  <script src="{% static "game.js" %}"></script>
</main>
</body>