{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="https://theselfs.org/fcm/favicon.ico?v2" type="image/x-icon">

  <title>Acquire</title>
  <script src="{% static "vendor/js/lodash.min.js" %}"></script>
  <script src="{% static "vendor/js/machina.js" %}"></script>
  <script src="{% static "vendor/js/rivets.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/game.css" %}">
</head>
<body>
<main id="main">
  <div id="board">
    <table>
      <tbody>
        <tr rv-each-row="app.board">
          <td rv-each-cell="row" rv-class="cell.chain">{ cell.coordinates }</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <p>
      { app.instruction }
    </p>
  </div>

  <div id="hand">
    <table>
      <tbody>
      <tr>
        <th>Hand</th>
        <td rv-each-tile="app.hand" rv-on-click="tile.play">{ tile.coordinates }</td>
      </tr>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr>
        <th>Stocks</th>
        <td rv-each-stock="app.playerStocks">{ stock.count } { stock.name }</td>
      </tr>
      </tbody>
    </table>
    <p>Cash: ${ app.player.cash }</p>
  </div>

  <div id="shop">
    <div id="shop-chains" rv-show="app.showAvailableChains">
      <ul>
        <li rv-each-chain="app.availableChains" rv-on-click="chain.declare">{ chain.name }</li>
      </ul>
    </div>
    <div id="shop-stocks" rv-show="app.showAvailableStocks">
      <table>
        <tbody>
          <tr rv-each-stock="app.availableStocks">
            <td>{ app.cartCount < stocksCart | call stock }</td>
            <td>{ stock.name }</td>
            <td>{ stock.cost }</td>
            <td>${ app.lookupChainCost < stock.name | call }</td>
            <td><button rv-on-click="stock.increment" rv-enabled="app.canAddStock < stocksCart | call stock">+</button>
            <td><button rv-on-click="stock.decrement" rv-disabled="app.hasNone < stocksCart | call stock">-</button>
          </div>
        </tbody>
      </table>
      <div>
        <p>
          Total cost: ${ app.totalCost < stocksCart | call }
        </p>
        <button rv-on-click="app.buyStocks">Validate</button>
      </div>
    </div>
  </div>

  <div id="supply">
    <div id="supply-chains">
      <p>Supply Stocks</p>
      <table>
        <tbody>
        <tr rv-each-stock="app.supplyStocks">
          <td>{ stock.count }</td>
          <td>{ stock.name }</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <script type="text/javascript">
  var roomName = {{ game_name_json }};
  var state = {{ game_state_json }};
  var username = "{{ user.username }}";
  </script>
  <script src="{% static "game.js" %}"></script>
</main>
</body>