{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="https://theselfs.org/fcm/favicon.ico?v2" type="image/x-icon">

  <title>Acquire</title>
  <script src="{% static "vendor/js/lodash.min.js" %}"></script>
  <script src="{% static "vendor/js/machina.js" %}"></script>
  <script src="{% static "vendor/js/rivets.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/game.css" %}">
</head>
<body>
<main id="main">
  <div id="board">
    <table>
      <tbody>
        <tr rv-each-row="app.board">
          <td rv-each-cell="row" rv-class="cell.chain">{ cell.coordinates }</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <p>
      { app.instruction }
    </p>
  </div>

  <div id="hand">
    <table>
      <tbody>
      <tr>
        <td rv-each-tile="app.hand" rv-on-click="tile.play">{ tile.coordinates }</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="shop">
    <div id="chains" rv-show="app.showAvailableChains">
      <ul>
        <li rv-each-chain="app.availableChains" rv-on-click="chain.declare">{ chain.name }</li>
      </ul>
    </div>
  </div>

  <div id="supply">
    <div id="chains">
      
    </div>
  </div>


  <script type="text/javascript">
  var roomName = {{ game_name_json }};
  var state = {{ game_state_json }};
  var username = "{{ user.username }}";
  </script>
  <script src="{% static "game.js" %}"></script>
</main>
</body>