{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>ack-wire</title>
  <script src="{% static "vendor/js/rivets.js" %}"></script>
</head>
<body>
  {% for game in current_games %}
    <li><a href="{% url 'game-view' game.pk %}">{{ game.name }}, players [
      {% for user in game.users.all %}
        {{ user.username }},
      {% endfor %}
    ]</a></li>
  {% endfor %}
  <a href="{% url 'start-game-view' %}">Start new game</a>
</body>

</html>
