main {
  padding-left: 3em;
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: space-between;
}

#board-hand-shop {
  display: flex;
}

.myturn {
  background-color: #d2dbe166;
}

#shop button.btn-outline-secondary {
  color: black;
}

#shop button.btn-outline-secondary:hover {
  background-color: #7BAFD466;
}

#shop button.btn.btn-primary {
  border: none;
  background-color: #7BAFD466;
  color: inherit;
}

#shop,
#hand-shop {
  padding-top: 2em;
  padding-left: 2em;
}

#shop {
  padding-bottom: 1em;
}

#hand-tiles td {
  cursor: pointer;
}

td.inactive {
  color: gray;
}

.isme {
  background-color: #7BAFD466;
}

table {
  border-collapse: collapse;
}

#board td {
  text-align: center;
  user-select: none;
}

#shop button.btn:disabled {
  border: none;
  background-color: inherit;
  color: inherit;
}

#supply-chains table tbody td:nth-child(n+3) {
  text-align: right;
}

#supply tbody tr:nth-child(odd) {
  background-color: #ccc6;
}

 table td {
  padding: 5px;
}

td.island {
  background-color: black;
  color: white;
}

td.in-hand {
  border: solid 1px black;
  cursor: pointer;
  background-color: #7BAFD466;
}

td.unplayable {
  border: solid 1px black;
  cursor: pointer;
  background-color: lightgray;
}

span.Tower,
td.Tower {
  background-color: #ffdc62;
}

span.Luxor,
td.Luxor {
  background-color: orange;
}

span.American,
td.American {
  background-color: #6b72ab;
  color: white;
}

span.Festival,
td.Festival {
  background-color: #53a25e;
  color: white;
}
span.Worldwide,
td.Worldwide {
  background-color: #b58762;
  color: white;
}
span.Continental,
td.Continental {
  background-color: #59aec8;
}
span.Imperial,
td.Imperial {
  background-color: #ff596d;
}


span.Tower2x,
td.Tower2x {
  background-color: #FCAA2F;
}

span.Luxor2x,
td.Luxor2x {
  background-color: #f58300;
}

span.American2x,
td.American2x {
  background-color: #3d477c;
  color: white;
}

span.Festival2x,
td.Festival2x {
  background-color: #207333;
  color: white;
}
span.Worldwide2x,
td.Worldwide2x {
  background-color: #835A37;
  color: white;
}
span.Continental2x,
td.Continental2x {
  background-color: #1B7F97;
}
span.Imperial2x,
td.Imperial2x {
  background-color: #CB1C42;
}

td.Tower.in-hand,
td.Luxor.in-hand,
td.American.in-hand,
td.Festival.in-hand,
td.Worldwide.in-hand,
td.Continental.in-hand,
td.Imperial.in-hand {
  box-shadow: inset 0px 0px 0px 4px black;
}

td.in-hand2x {
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 0px 4px black;
  cursor: pointer;
}
td.unplayable2x {
  background-color: lightgray;
  color: black;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 4px black;
}
td.island2x {
  background-color: white;
  color: black;
  box-shadow: inset 0px 0px 0px 4px black;
}

/* test unplayable in-hand island http://ack-wire.herokuapp.com/admin/game/gamestate/2935/change/ */
td.in-hand.island {
  color: black;
  box-shadow: inset 0px 0px 0px 4px black;
}

#history {
  overflow-x: scroll;
}

