main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#shop {
  padding-bottom: 1em;
}

td.inactive {
  color: gray;
}

td.island {
  background-color: black;
  color: white;
}

td.in-hand {
  border: solid 1px black;
  cursor: pointer;
}

span.Tower,
td.Tower {
  background-color: yellow;
}

span.Luxor,
td.Luxor {
  background-color: orange;
}

span.American,
td.American {
  background-color: blue;
  color: white;
}

span.Festival,
td.Festival {
  background-color: green;
  color: white;
}
span.Worldwide,
td.Worldwide {
  background-color: brown;
  color: white;
}
span.Continental,
td.Continental {
  background-color: teal;
}
span.Imperial,
td.Imperial {
  background-color: magenta;
}

#history {
  overflow-x: scroll;
}

