main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#shop {
  padding-bottom: 1em;
}

#hand-tiles td {
  cursor: pointer;
}

td.inactive {
  color: gray;
}

.isme {
  background-color: #7BAFD466;
}

table {
  border-collapse: collapse;
}

#board td {
  text-align: center;
}

#supply-chains table tbody td:nth-child(n+3) {
  text-align: right;
}

#supply tbody tr:nth-child(odd) {
  background-color: #ccc6;
}

 table td {
  padding: 5px;
}

td.island {
  background-color: black;
  color: white;
}

td.in-hand {
  border: solid 1px black;
  cursor: pointer;
  background-color: #7BAFD466;
}

span.Tower,
td.Tower {
  background-color: yellow;
}

span.Luxor,
td.Luxor {
  background-color: orange;
}

span.American,
td.American {
  background-color: blue;
  color: white;
}

span.Festival,
td.Festival {
  background-color: green;
  color: white;
}
span.Worldwide,
td.Worldwide {
  background-color: brown;
  color: white;
}
span.Continental,
td.Continental {
  background-color: teal;
}
span.Imperial,
td.Imperial {
  background-color: magenta;
}

#history {
  overflow-x: scroll;
}

