{% extends "base.html" %}

{% load static %}

{% block title_block %}
  Matcha - {{ object.name }}
{% endblock title_block %}

{% block head %}
  <script src="{% static "vendor/js/websocket.min.js" %}"></script>
  <script src="{% static "vendor/js/lodash.min.js" %}"></script>
  <script src="{% static "vendor/js/machina.js" %}"></script>
  <script src="{% static "vendor/js/sightglass.js" %}"></script>
  <script src="{% static "vendor/js/rivets.full.js" %}"></script>

  <link rel="stylesheet" href="{% static "matcha/matcha.css" %}">
{% endblock head %}

{% block content %}
  
  <div class="banner">
    { app.instruction }
  </div>

  <div class="board">
    <div><small>Game { app.gameNumber }</small></div>
    <div><p><strong>{ app.opponent.name }</strong> Score: { app.opponent.score }</p></div>
    <div class="foreplace">
      <div rv-class="app.opponent.foreplace.class">F { app.opponent.foreplace|card }</div>
    </div>
    <div class="tableau">
      <div rv-each-card="app.opponent.tableau" rv-class="card.class">{ card|card }</div>
    </div>
    <div class="tableau">
      <div rv-each-card="app.me.tableau" rv-class="card.class">{ card|card }</div>
    </div>
    <div class="foreplace">
      <div rv-class="app.me.foreplace.class">F { app.me.foreplace|card }</div>
    </div>
    <div><p><strong>{ app.me.name }</strong> Score: { app.me.score }</p></div>
  </div>

  <div class="hand">
    <div rv-each-card="app.hand" rv-class="card.class" rv-on-click="card.play" rv-hide="card.empty">{ card|card }</div>
  </div>
  <div rv-show="app.showSkipForeplace">
    <button class="btn btn-primary" rv-on-click="app.skipForeplace">Skip</button>
  </div>
  <div rv-show="app.showNextGame">
    <button class="btn btn-primary" rv-on-click="app.nextGame">Next Game</button>
  </div>

{% endblock content %}

{% block extra_body %}
  {{ game_state|json_script:"initial-state" }}

  <script type="text/javascript">
    // var roomName = {{ game_name_json }};
    // var username = "{{ user.username }}";
  </script>

  <script src="{% static "matcha/matcha.js" %}"></script>
{% endblock extra_body %}
